<!DOCTYPE html>
<html lang="pt">

    <%- include('parts/head.ejs', {css: ['geral.css', 'index.css']}) %> 

<body>

    <!-- <link rel="stylesheet" href="/css/index.css"> -->

    <%- include("parts/header.ejs") %> 

        <main></main>
    
    <script src="/js/index.js"></script>

</body>

</html>