/*Reset CSS*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::before{
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url(/img/bg.jpeg);
    filter: brightness(0.3);
    background-size: cover;
    z-index: -1;
}

header {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    gap: 5px;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px 10px;
    height: 80px;
}

button, .input-file-container {
    background-color: #ff5100;
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

header input {
    font-size: 1.5rem;
    width: 600px;
    flex-grow: 0.5;
    padding: 10px;
    border-style: none;
}

header a {
    text-decoration: none;
}

button:hover, .input-file-container:hover {
    background-color: black;
}

.btBuscar {
    width: 300px;
    font-size: 1.5rem;
}

#logo {
    width: 64px;
    height: 64px;
}

article > img {
    width: 300px;
}

.input-file-container {
    background-color: #ff5100;
    
}

input[type="file"]{
    display: none;
}